@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
  padding: 10;
}

input.yellow-input+label {
  color: #ffffff !important;
}

input.yellow-input:focus+label {
  color: #ffeb3b !important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.card .card-action{
  border-top: none;
}

span.card-title {
  /* font-size: calc(0.75em + 1vmin); */
  text-align: center;
}

/* Setting responsiveness of the page: */
.container {
  max-width: 100%;
  /* margin: 0px auto;
  padding: 0px auto; */
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

h1 {
  /* font-size: calc(2.2em + 1vmin); */
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(189, 189, 189);
  font-weight: bold;
  text-align: center;
  font-size: calc(28px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

h3 {
  /* font-size: calc(2.2em + 1vmin); */
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(189, 189, 189);
  /* text-align: center; */
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}